<div class="flex mb-2 justify-between bg-gradient-to-br from-indigo-900/30 to-indigo-500/30 text-gray-800 px-3 py-1 rounded-xl items-center">
    <div>
        <h1 class="font-medium text-lg">Mon panier</h1>
    </div>
    <p class="close-modal text-white/70 py-1 px-4 bg-black/20 hover:bg-black/45 hover:text-white text-lg rounded-lg transition-all hover:cursor-pointer hover:shadow-sm">&times;</p>
</div>

<div data-controller="panier">
    <h3 class="font-medium mb-3">Produits dans le panier &lpar;{{ panier.produits|length }}&rpar; :</h3>
    <ul class="min-h-40 max-h-9/12 overflow-y-scroll rounded-lg p-2 mb-3">
    {{ form_start(form) }}
        {% for pp in panier.panierProduits %}
            <li class="flex justify-between text-sm items-center min-h-[55px]" id="{{ pp.produit.id }}">
                <div class="flex items-center">
                    <a href="{{ path('app_panier_remove_product', {produit: pp.produit.id}) }}" class="bg-rose-500/50 hover:bg-rose-600/50 text-white/90 hover:text-white transition-all py-2 px-3 rounded-full mr-4 hover:shadow-lg shadow-rose-300/50" data-action="click->panier#removeProduct"><i class="fa-solid fa-trash text-xs"></i></a>
                    <a href="{{ path('app_produit_view', {id: pp.produit.id}) }}" class="text-indigo-700 hover:underline hover:cursor-pointer flex gap-3 items-center">
                        <img src="{{ asset('/uploadedFiles/produitImages/'  ~ pp.produit.categorie.nom|slug ~ '/' ~ pp.produit.images.icon) }}" class="max-w-[50px] max-h-[50px]" alt="Icone de {{ pp.produit.nom }}">
                        {{ pp.produit.nom }} &lpar;{{ pp.produit.prix|format_currency('EUR', {}, 'fr') }}&rpar;
                    </a>
                    <div class="flex items-center gap-2 ml-4" data-amount="{{ pp.produit.bulkSale ? pp.produit.bulkSize : 1 }}" data-id="{{ pp.produit.id }}">
                        <div class="rounded-full bg-indigo-100/50 text-sm py-0.5 px-2 hover:cursor-pointer" data-action="click->panier#changeAmount" data-operation="minus">-</div>
                        <span>&times;</span>{{ form_widget(attribute(form, pp.id)) }}
                        <div class="rounded-full bg-indigo-100/50 text-sm py-0.5 px-2 hover:cursor-pointer" data-action="click->panier#changeAmount" data-operation="plus">+</div>
                    </div>
                </div>
                <p class="panier-price rounded-md bg-indigo-50/70 p-2" data-value="{{ pp.produit.prix }}" data-amount="{{ pp.amount }}">{{ (pp.produit.prix * pp.amount)|format_currency('EUR', {}, 'fr')}}</p>
            </li>
            <hr class="w-11/12 opacity-70 mt-2 mb-4 mx-auto">
        {% else %}
            <li class="italic text-center my-auto">
                Aucun produit dans votre panier.
            </li>       
        {% endfor %}
        {{ form_end(form) }}
    </ul>
</div>
<div class="">
    <p id="panier-total-price" data-value="{{ prixTotal }}" class="text-end font-medium w-full">Total : {{ prixTotal|format_currency('EUR', {}, 'fr') }}</p>
    <div class="flex justify-end">
        <button id="checkout-button" data-controller="paiement" data-paiement-stripe-url-value="{{ path('app_stripe_checkout_create') }}" class="button from-indigo-400 to-indigo-700 shadow-indigo-500/50 hover:cursor-pointer">Aller au paiement</button>
    </div>
</div>