{% extends "base.html.twig" %}
{% block title %}Bienvenue{% endblock %}

{% block body %}

    <h1>Bienvenue sur l'application de vente de solutions SaSS!</h1>
    {% if app.user %}
        <p>Connecté en tant que <a href="{{ path('app_user_profile') }}">{{ app.user.email }}</a>. <a href="{{ url('app_logout') }}">Se déconnecter</a></p>
    {% else %}
        <a href="{{ url('app_register') }}">S'enregistrer</a>
        <a href="{{ url('app_login') }}">Se connecter</a>
        <a href="{{ path('app_user_profile') }}">Profile</a>
    {% endif %}
    
{% endblock %}