{% extends "base.html.twig" %}
{% block title %}Bienvenue{% endblock %}

{% block body %}
    <div class="flex justify-between items-center h-screen">
        <div class="w-1/2 p-6">
            <i class="fa-solid fa-house"></i> Page d'accueil :)
            <h1 class="text-4xl font-bold mb-6">Bienvenue sur l'application de vente de solutions SaSS!</h1>
            {% if app.user %}
                <p class="text-xl">Connecté en tant que {{ app.user.email }}. <br> <a href="{{ url('app_logout') }}" class="text-blue-500 hover:underline">Se déconnecter</a></p>
                <a href="{{ path('app_user_profile', { id: app.user.id }) }}" class="text-xl text-blue-500 hover:underline">Profil</a>
            {% else %}
                <div class="space-x-4">
                    <a href="{{ url('app_register') }}" class="text-xl text-blue-500 hover:underline">S'enregistrer</a>
                    <a href="{{ url('app_login') }}" class="text-xl text-blue-500 hover:underline">Se connecter</a>
                </div>
            {% endif %}
        </div>
        <div class="w-1/2 flex justify-center">
            <img src="{{ asset('images/home_page_image.png') }}" alt="Home Page Image" class="max-w-full h-auto">
        </div>
    </div>
{% endblock %}