{% extends "base.html.twig" %}
{% block title %}Bienvenue{% endblock %}

{% block body %}
    <div class="flex justify-between items-center h-screen">
        <div class="w-1/2 p-6 ">
            <h1 class="text-4xl font-bold mb-6">Boostez votre productivité avec nos solutions SaaS</h1>
            <p class="text-lg mb-6 text-gray-800">Découvrez une sélection de logiciels performants, <br> prêts à l’emploi, conçus pour répondre aux besoins des entreprises modernes.<br>
            Gestion, automatisation, collaboration : trouvez la solution qui vous correspond.</p>
            {% if app.user %}
                <p class="text-xl">Vous êtes connecté en tant que {{ app.user.firstname }} {{ app.user.name }}. <br> <a href="{{ url('app_logout') }}" class="text-blue-500 hover:underline">Se déconnecter</a></p>
                <a href="{{ path('app_user_profile', { id: app.user.id }) }}" class="text-xl text-blue-500 hover:underline">Profil</a>
            {% else %}
                <div class="space-x-4">
                    <a href="{{ url('app_register') }}" class="text-xl text-blue-500 hover:underline">S'enregistrer</a>
                    <a href="{{ url('app_login') }}" class="text-xl text-blue-500 hover:underline">Se connecter</a>
                </div>
            {% endif %}
        </div>
        <div class="w-1/2 flex justify-center">
            <img src="{{ asset('images/home_page_image.png') }}" alt="Home Page Image" class="max-w-full h-auto">
        </div>
    </div>
{% endblock %}