{% extends "base.html.twig" %}

{% block title %}Administration | Utilisateurs{% endblock %}

{% block body %}

    <div class="mb-8 flex flex-col items-end">
        <div class="w-fit flex flex-col items-end">
            <h1 class="bo-page-ttl">Gestion des utilisateurs</h1>
            <a class="text-end italic text-gray-600 hover:text-gray-400" href="{{ path('app_admin_home') }}">&lt; Retour au menu</a>
        </div>
    </div>
    <div class="admin-table-parent" data-controller="tablesorter">
        <table class="admin-table table tablesorter-init" id="tablesorter-init">
            <thead>
                <th scope="col" class="md:w-10 lg:w-15">ID</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">E-mail</th>
                <th scope="col" class="md:w-20 lg:w-33">Pays</th>
                <th scope="col" class="md:w-20 lg:w-33">Téléphone</th>
                <th scope="col" class="md:w-20 lg:w-33">Date de naissance</th>
                <th scope="col" class="md:w-20 lg:w-33">Type de compte</th>
                <th scope="col" class="md:w-20 lg:w-33">Membre depuis</th>
                <th scope="col" class="md:w-20 lg:w-33">Dernière connexion</th>
                <th scope="col" class="md:w-10 lg:w-17">Admin</th>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr class="modal-launcher"data-modal-url="{{ path('app_admin_users_edit', {id: user.id}) }}" data-action="click->modal#open">
                        <td class="id">{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.country }}</td>
                        <td>{{ user.phoneNumber }}</td>
                        <td>{{ user.birthday|date('d/m/Y') }}</td>
                        <td>{{ user.accountType == 1 ? '<p class="py-1 px-2 bg-indigo-500/50 rounded-md">Entreprise</p>' : '<p class="py-1 px-2 bg-sky-400/50 rounded-md">Particulier</p>' }}</td>
                        <td>{{ user.createdAt|date('d/m/Y \à H:i:s') }}</td>
                        <td>{{ user.lastLogIn == null ? 'Jamais' : user.lastLogIn|date('d/m/Y \à H:i:s') }}</td>
                        <td>{{ 'ROLE_ADMIN' in user.roles ? '<p class="py-1 px-2 bg-emerald-400/50 rounded-md">Oui</p>' : '<p class="py-1 px-2 bg-rose-500/50 rounded-md">Non</p>' }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock %}