{% extends "base.html.twig" %}

{% block title %}Categories{% endblock %}

{% block body %}
    {# sur le titre -> "data-controller='categorie'" -> invoque le fichier "assets/controllers/categorie_controller.js"
    copie la structure du fichier sur un controlleur qui existe déjà
    sépare ton code, une fonction par évènement, et invoque les évènements dans le twig avec l'attribut 'data-action="click->categorie#tonévènement"' #}

<div>
    <h1>Produits de la catégorie</h1>
    <div class="fixed left-0">
    {{ form_start(filterForm, {'attr': {'data-controller': 'categorie','data-action': 'submit->categorie#submitted'}}) }}
        {{ form_row(filterForm.prixMin) }}
        {{ form_row(filterForm.prixMax) }}
        {{ form_row(filterForm.ordreAlpha) }}
        {{ form_row(filterForm.asc) }}
        {{ form_row(filterForm.recherche) }}
        <button type="submit">Filtrer</button>
    {{ form_end(filterForm) }}
    </div>
    <div id="produits" class="produits"></div>
</div>
{% endblock %}