{% extends "base.html.twig" %}

{% block body %}

<div class="flex justify-between">
    <h1>Gestion des paniers</h1>
    <a href="{{ path('app_admin_home') }}">Retour au menu</a>
</div>

<div>

    <div class="flex justify-between">
        <a href="{{ path('app_admin_paniers_check_all') }}">Actualiser l'état des paniers</a>
        <a href="{{ path('app_admin_paniers_remove_deletables') }}">Supprimer les paniers supprimables</a>
    </div>

    <table>
        <thead>
            <th>ID</th>
            <th>Propriétaire du panier</th>
            <th>Produits dans le panier</th>
            <th>Date de création</th>
            <th>État</th>
        </thead>
        <tbody>
            {% for panier in paniers %}
                <tr data-action="click->modal#open" data-modal-url="{{ path('app_admin_paniers_view', {id: panier.id}) }}">
                    <td>{{ panier.id }}</td>
                    <td>{{ panier.user ? panier.user.email : 'Anonyme' }}</td>
                    <td>{{ panier.produits|length }}</td>
                    <td>{{ panier.createdAt|date() }}</td>
                    <td>
                        {% if panier.etat == 1 %}
                            Actif
                        {% elseif panier.etat == 2 %}
                            Inactif
                        {% elseif panier.etat == 3 %}
                            Supprimable
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}