{% extends "base.html.twig" %}

{% block title %}Administration | Catégories{% endblock %}

{% block body %}

    <div class="mb-8 flex flex-col items-end">
        <div class="w-fit flex flex-col items-end">
            <h1 class="bo-page-ttl">Gestion des catégories</h1>
            <a class="text-end italic text-gray-600 hover:text-gray-400" href="{{ path('app_admin_home') }}">&lt; Retour au menu</a>
        </div>
    </div>

    <div class="w-full border-t border-sky-200 shadow-[0px_-4px_6px] shadow-sky-300/50 fixed bottom-0 z-50 left-0 right-0 py-2 flex justify-center bg-indigo-50/50 backdrop-blur-sm">
        <button data-action="click->modal#open" data-modal-url="{{ path('app_admin_categories_create') }}" data-modal-size="sm" class="rounded-md text-center bg-gradient-to-br from-sky-400 to-indigo-400 text-white border hover:border-indigo-100 hover:shadow-md hover:shadow-indigo-500/50 p-2 hover:cursor-pointer transition-all active:-translate-y-1">
            Ajouter une catégorie
        </button>
    </div>

    <div class="admin-table-parent" data-controller="tablesorter">
        <table class="admin-table tablesorter-init">
            <thead>
                <th class="w-15">ID</th>
                <th>Nom</th>
                <th class="w-25">Produits dans la catégorie</th>
            </thead>
            <tbody>
                {% for categorie in categories %}
                    <tr data-modal-url="{{ path('app_admin_categories_edit', {id: categorie.id}) }}" data-modal-size="sm" data-action="click->modal#open" class="modal-launcher">
                        <td class="id">{{ categorie.id }}</td>
                        <td>{{ categorie.nom }}</td>
                        <td>{{ categorie.nbProduits }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}