<div class="flex mb-2 justify-between bg-gradient-to-br from-indigo-900 to-indigo-500 text-white p-3 rounded-lg items-center" >
    <h1 class="font-medium text-lg">
        {% if action == 'ajout' %}
            Création de produit
        {% elseif action == 'modif' %}
            Modification de produit &lpar;{{ produit.nom }}&rpar;
        {% endif %}
        
    </h1>
    <p class="close-modal text-white/70 py-1 px-4 bg-black/20 hover:bg-black/45 hover:text-white text-lg rounded-lg transition-all hover:cursor-pointer hover:shadow-sm">&times;</p>
</div>


{{ form_start(form) }}
<div id="content" data-content-amount="3" data-current-content="1" class="h-[60vh]" data-controller="boproduits">
    <div id="1" class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-3 w-full gap-4 h-full overflow-y-scroll items-start transition-all duration-300">
        {{ form_row(form.nom) }}
        {{ form_row(form.editeur) }}
        {{ form_row(form.prix) }}
        {{ form_row(form.categorie) }}
        <div class="flex items-center gap-15">
            <div class="admin-form-boolean">
                {{ form_widget(form.isLimitedStock) }}
                {{ form_label(form.isLimitedStock) }}
            </div>
            <div
                {% if produit is not defined or produit.isLimitedStock == false %}
                    class="hidden opacity-0 transition-all"
                {% else %}
                    class="transition-all"
                {% endif %}
                id="stock-form"
            >
                {{ form_row(form.stock) }}
            </div>
        </div>
        <div class="flex items-center gap-15">
            <div class="admin-form-boolean transition-all">
                {{ form_widget(form.isBulkSale) }}
                {{ form_label(form.isBulkSale) }}
            </div>
            <div
                {% if produit is not defined or produit.isBulkSale == false %}
                    class="hidden opacity-0 transition-all"
                {% else %}
                    class="transition-all"
                {% endif %}
                id="bulk-form"
            >
                {{ form_row(form.bulkSize) }}
            </div>
        </div>
        <div class="md:col-span-2 2xl:col-span-3">
            {{ form_row(form.description) }}
        </div>
        {{ form_row(form.os) }}
        {{ form_row(form.langages) }}
        <div class="admin-form-boolean">
            {{ form_widget(form.active) }}
            {{ form_label(form.active) }}
        </div>
    </div>

    <div id="2" class="hidden-imp transition-all translate-x-[100rem] duration-300 h-full">
        {{ form_row(form.longDescription) }}
    </div>

    <div id="3" class="hidden-imp transition-all translate-x-[100rem] duration-300 h-full overflow-y-auto">
        {% if produit is defined %}
        <p>Images du produit : </p>
        <div class="grid grid-cols-4 md:grid-cols-5 lg:grid-cols-6 gap-4 md:gap-6">
            {% for key, image in produit.images %}
                {% if key == 'other' %}
                    {% for img in image %}
                        <div class="max-w-[150px] max-h-[150px]">
                            <div class="w-[100px] h-[100px]">
                                <img class="box-border w-[100px] h-[100px]" src="{{ asset(directory ~ image) }}" alt="{{ key }} {{ produit.nom }}">
                            </div>
                            <p class="text-sm italic text-gray-700">{{ key }}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="">
                        <div class="w-[150px] h-[150px]">
                            <img class="box-border w-[150px] h-[150px]" src="{{ asset(directory ~ image) }}" alt="{{ key }} {{ produit.nom }}">
                        </div>
                        <p class="text-sm italic text-gray-700">{{ key }}</p>
                    </div>
                {% endif %}
            {% else %}
                <p>Aucune image pour ce produit.</p>
            {% endfor %}
        </div>
        <div class="admin-button mx-auto mt-2 w-fit shadow-indigo-500/50" data-action="click->boproduits#displayImgForm">Modifier les images</div>
        <div class="hidden scale-0 transition-all duration-200" id="img-edit-form">
            {{ form_row(form.icon) }}
            {{ form_row(form.imageMain) }}
            {{ form_row(form.imageOther) }}
        </div>
        {% else %}
            {{ form_row(form.icon) }}
            {{ form_row(form.imageMain) }}
            {{ form_row(form.imageOther) }}
        {% endif %}
        
    </div>
</div>

<div class="flex justify-around mt-4">
    <div id="left" class="modal-navigation-btn" data-action="click->modal#changeWindow">&lt; Précédent</div>
    <div id="right" class="modal-navigation-btn activated" data-action="click->modal#changeWindow">Suivant &gt;</div>
</div>

<div class="mt-2 rounded-lg bg-indigo-100/70 h-fit px-2">
    {% if deletable is defined and deletable == true %}
        <div class="h-[60px]" data-controller="confdelete" id="footer">
            <div id="footer-content" class="flex justify-between h-full items-center transition-all">
                <button id="delete-btn" class="admin-button delete">{{ deleteAction is defined ? deleteAction : "Supprimer l'élément"}}</button>
                <div>
                    <button class="close-modal mr-3 admin-button">Annuler</button>
                    <button type="submit" class="admin-button confirm">{{ btnAction }}</button>
                </div>
            </div>
            <div id="delete-conf" class="pt-1 hidden h-full opacity-0 items-center transition-all rounded-lg">
                <p class="italic text-center text-sm text-rose-600 mb-1" id="delete-warning">{{ deleteWarning is defined ? deleteWarning : "Êtes-vous sûr(e) de vouloir supprimer l'élément ?"}}</p>
                <div class="flex justify-center gap-6">
                    <a href="{{ deleteLink }}" class="admin-button delete">Supprimer</a>
                    <button id="cancel-delete" class="admin-button">Annuler</button>
                </div>
            </div>
        </div>
    {% else %}
        <div class="flex justify-end h-[60px]">
            <button class="close-modal admin-button">Annuler</button>
            <button type="submit" class="admin-button confirm">{{ btnAction }}</button>
        </div>
    {% endif %}
</div>
{{ form_end(form) }}
