{% extends "base.html.twig" %}

{% block body %}

<div class="flex justify-between">
    <h1>Gestion des produits</h1>
    <a href="{{ path('app_admin_home') }}">Retour au menu</a>
</div>

<div>
    <div data-action="click->modal#open" data-modal-url="{{ path('app_admin_produits_create') }}">Ajouter un produit</div>
    <table>
        <thead>
            <th>ID</th>
            <th>Nom du produit</th>
            <th>Editeur</th>
            <th>Catégorie</th>
            <th>Description courte</th>
            <th>Prix</th>
            <th>OS Compatibles</th>
            <th>Stock limité</th>
            <th>Vente par lot</th>
            <th>Langages</th>
            <th>Déscription détaillée</th>
        </thead>
        <tbody>
            {% for produit in produits %}
                <tr data-action="click->modal#open" data-modal-url="{{ path('app_admin_produits_edit', {id: produit.id}) }}">
                    <td>{{ produit.id }}</td>
                    <td>{{ produit.nom }}</td>
                    <td>{{ produit.editeur }}</td>
                    <td>{{ produit.categorie.nom }}</td>
                    <td>{{ produit.description }}</td>
                    <td>{{ produit.prix }}</td>
                    <td>{% for os in produit.os %} {{ os }}<br> {% endfor %}</td>
                    <td>{{ produit.isLimitedStock ? 'Oui : ' ~ produit.stock : 'Non' }}</td>
                    <td>{{ produit.isBulkSale ? 'Oui : ' ~ produit.bulkSize : 'Non' }}</td>
                    <td>{% for langage in produit.langages %} {{ langage }}<br> {% endfor %}</td>
                    <td>{{ produit.longDescription }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}