{% extends "base.html.twig" %}

{% block body %}

<div>
    <div>
        <h1>{{ editTitle }}</h1>
    </div>

    {{ form_start(form) }}
    <div>
        {{ form_widget(form) }}
    </div>
    
    <div>
        <button type="submit">{{ btnAction }}</button>
    </div>
    {{ form_end(form) }}
</div>

{% endblock %}