<nav class="bg-gradient-to-b from-indigo-200/50 to-transparent from-20% p-4">
    <div class="flex justify-between items-center">
        <div id="logo" class="w-[100px]">
            <img class="box-border" src="{{ asset('images/logo-cyna.svg') }}" alt="logo cyna">
        </div>

        <div class="flex space-x-4 justify-center items-center w-full">
            <a href="{{ url('app_index') }}" class="text-gray-800 px-3 py-2 rounded-lg text-sm font-medium hover:bg-indigo-500/30 hover:shadow-lg hover:shadow-indigo-500/30 transition-all"><i class="fa-solid fa-house"></i> Accueil</a>
            <a href="{{ path('app_categories_list') }}" class="text-gray-800 px-3 py-2 rounded-lg text-sm font-medium hover:bg-indigo-500/30 hover:shadow-lg hover:shadow-indigo-500/30 transition-all"><i class="fa-solid fa-table-list"></i> Catégories</a>
            {% if app.user %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_admin_home') }}" id="menu-button" class="text-gray-800 px-3 py-2 rounded-lg text-sm font-medium hover:bg-indigo-500/30 hover:shadow-lg hover:shadow-indigo-500/30 transition-all" aria-expanded="true" aria-haspopup="true"><i class="fa-solid fa-wrench"></i> Administration</a>
                {% endif %}
                <a href="{{ path('app_user_profile', { id: app.user.id }) }}" class="text-gray-800 px-3 py-2 rounded-lg text-sm font-medium hover:bg-indigo-500/30 hover:shadow-lg hover:shadow-indigo-500/30 transition-all"><i class="fa-solid fa-user"></i> Mon profil</a>
                <a href="{{ path('app_logout') }}" class="text-gray-800 px-3 py-2 rounded-lg text-sm font-medium hover:bg-indigo-500/30 hover:shadow-lg hover:shadow-indigo-500/30 transition-all"><i class="fa-solid fa-arrow-right-from-bracket"></i> Se déconnecter</a>
            {% else %}
                <a href="{{ url('app_login') }}" class="text-gray-800 px-3 py-2 rounded-lg text-sm font-medium hover:bg-indigo-500/30 hover:shadow-lg hover:shadow-indigo-500/30 transition-all"><i class="fa-solid fa-right-to-bracket"></i> Se connecter</a>    
                <a href="{{ url('app_register') }}" class="text-gray-800 px-3 py-2 rounded-lg text-sm font-medium hover:bg-indigo-500/30 hover:shadow-lg hover:shadow-indigo-500/30 transition-all"><i class="fa-regular fa-id-card"></i> S'enregister</a>
            {% endif %}
        </div>

        <div class="w-[100px]"></div>
    </div>
</nav>