<div class="top-0 left-50 h-screen-10 border-4 border-solid flex">
    <div>
        <a href="{{ url('app_index')}}">Page Accueil</a>
    </div>
    {% if not app.user %}
    <div>
        <a href="{{ url('app_register') }}">S'enregister</a>
    </div>
    <div>
        <a href="{{ url('app_login') }}">Se connecter</a>
    </div>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
    <div>
        <button type="button" id="menu-button" aria-expanded="true" aria-haspopup="true" >Administration</button>
            <div id="dropdown-menu" class="absolute bg-white hidden" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                <div class="py-1">
                <a href="{{ path('app_admin_home') }}" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="amenu-item-0">Panneau Admin</a>
                <a href="{{ path('app_admin_users_list') }}" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-1">Panneau Users</a>
                <a href="{{ path('app_admin_categories_list') }}" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-2">Panneau Catégories</a>
            </div>
        </div>
    </div>
    {% endif %}
    <div>
        <button type="button" />
    </div>
    {% if app.user %}
        {% if categories is defined and categories is not empty %}
            <div>
                <button type="button" id="menu-button-2" aria-expanded="true" aria-haspopup="true" >Categorie</button>
                    <div id="dropdown-menu-2" class="absolute bg-white hidden" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                        <div class="py-1">
                        {% for categorie in categories %}
                            <a href="{{ path('produits_categorie', { id: categorie.id })}}" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-{{categorie.id}}">{{categorie.nom}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        <div>
            <a href="{{ path('app_user_profile') }}">Profile</a>
        </div>
        <div>
            <a href="{{ path('app_logout')}}">Se déconnecter</a>
        </div>
    {% endif %}
</div>

<script>
  document.getElementById("menu-button").addEventListener("click", function () {
    document.getElementById("dropdown-menu").classList.toggle("hidden")
  })
  document.getElementById("menu-button-2").addEventListener("click", function () {
    document.getElementById("dropdown-menu-2").classList.toggle("hidden")
  })
  document.addEventListener("click", function (evt) {
        if (!document.getElementById("menu-button").contains(evt.target) && !document.getElementById("dropdown-menu").contains(evt.target)) {
            document.getElementById("dropdown-menu").classList.add("hidden")
            document.getElementById("menu-button").setAttribute("aria-expanded", "false")
        }
    })
</script>